<main>
  <h1 class="titre"> NO WASTE FOOD </h1>
  <div id="container">
    <div>
      <p class="presentation">Et hi armorum quaerebatur Epigonum increpabat et tribunos
        <br/>concitatus inter e non fabricarum si promittentes e et fabricarum insimulasset aliquotiens
        <br/><a class="presentation" [routerLink] = "['/publication']" class="nav-item nav-link" >Votre recette</a>
      </p>
    </div>
    <div>
      <img src="../../assets/img/frigo.gif" alt="frigo" title="frigo" class="rounded mx-auto d-block" id="imgFrigo" />
    </div>
    <div>
      <p class="presentation2">Et hi armorum quaerebatur Epigonum increpabat et tribunos
        <br/>concitatus inter e non fabricarum si promittentes e et fabricarum insimulasset aliquotiens 
        <a class="presentation2" [routerLink] = "['/restes']" class="nav-item nav-link" >Vos Restes</a>
      </p>
    </div>
  </div>
</main>
