<h1> Nous contacter </h1>
<div class="formulaire-contact">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Nom et Prénom</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nom Prénom">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Addresse</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Adresse">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ville</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Ville">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Code Postal</label>
        <input type="text" class="form-control" id="inputZip" placeholder="Code postal">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Pays</label>
        <select id="inputState" class="form-control">
          <option value="France" selected="selected">France</option>
          <option value="Espagne">Espagne</option>
          <option value="Allemagne">Allemagne</option>
          <option value="Italie">Italie</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputSujet">Sujet</label>
        <input type="text" class="form-control" id="inputSujet" placeholder="A quel sujet nous contacter vous?">
      </div>
      <div class="form-group col-md-6">
        <label for="exampleTextarea">Commentaires</label>
        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Laisser nous un message"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Accepter les CGU
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>
