h1 {
  margin-top: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: green;
}

.btn-outline-primary {
  color: green;
  border-color: green;
  border-color: green;
  box-shadow: green;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn:focus {
  color: white;
  border-color: green;
  background-color: green;
  box-shadow: white;
}

.liste {
 text-align: center;
  padding: 20px;
  margin: 20px;
  display: block;
  margin: 10px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 1px 2px green;
  height: 200px;
  width: 300px;
background-color: aliceblue;
}

.listeRecette {
  background-image: url("../../assets/img/interieur.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  margin-top:50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1300px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

.modal-header,
.modal-body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

/**gestion de l'affichage pour le responsive**/

@media screen and (max-width: 1200px) {
  .listeRecette {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .listeRecette {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .listeRecette {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .listeRecette {
    width: 400px;
  }
}
